{% extends 'base.html' %}

{% block head %}
<style>
    .card{
        background-color: whitesmoke;
        box-shadow: 5px 5px 15px lightblue;
    }
    .social:hover{
        transform: scale(1.1);
    }
</style>
{% endblock %}

{% block highlight %}
    <li class="nav-item mx-lg-3">
        <a class="nav-link" aria-current="page" href="{{ url_for('dashboard') }}">Dashboard</a>
    </li>
    <li class="nav-item mx-lg-3">
        <a class="nav-link" href="{{ url_for('speed_pred') }}">Speed Prediction</a>
    </li>
    <li class="nav-item mx-lg-3">
        <a class="nav-link active" href="{{ url_for('about') }}">About Us</a>
    </li>
{% endblock %}

{% block content %}
    <div class="display-3 text-center my-5">
        <b>About The Team</b>
    </div>
{% endblock %}
