<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel = "icon" href = "{{ url_for('static', filename = 'images/logo.png') }}" type = "image/x-icon">
    <title>The Knots</title>
    <style>
            .cyc{
                -webkit-animation: rotation 2s infinite linear;
            }
            @-webkit-keyframes rotation {
                from {
                        -webkit-transform: rotate(0deg);
                }
                to {
                        -webkit-transform: rotate(359deg);
                }
            }
    </style>
    {% block head %}
        
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="mx-3 navbar-brand" href="{{ url_for('dashboard') }}">
                <strike><strong>The Knots</strong></strike> <img src="/static/images/logo.png" class="cyc" style="width: 24px;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                    {% block highlight %}
                        <li class="nav-item mx-lg-3">
                            <a class="nav-link active" aria-current="page" href="{{ url_for('dashboard') }}">Dashboard</a>
                        </li>
                        <li class="nav-item mx-lg-3">
                            <a class="nav-link" href="{{ url_for('speed_pred') }}">Speed Prediction</a>
                        </li>
                    {% endblock %}
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>

</html>